<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="DB_QLRCP" connectionString="Data Source=LAPTOP-75EMN83J\SQLEXPRESS;Initial Catalog=DB_QLRCP;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="DB_QLRCP.Properties.Settings.DB_QLRCPConnectionString" connectionString="Data Source=LAPTOP-75EMN83J\SQLEXPRESS;Initial Catalog=DB_QLRCP.;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>